<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!-- appSettings网站信息配置-->
  <appSettings>
    <add key="Configpath" value="~/xmlconfig/site.config" />
    <add key="Userpath" value="~/xmlconfig/user.config" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
	  <add name="ConnectionString" connectionString="server=112.124.22.246;uid=HT_My_teacher;pwd=haitaokeji;database=HT_TaiwanGo_DB1599;" />
    <add name="HT_TaiwanGo_DB1599Context" connectionString="Data Source=112.124.22.246;Initial Catalog=HT_TaiwanGo_DB1599;Persist Security Info=True;User ID=HT_My_teacher;Password=haitaokeji;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HT_TaiwanGo_DB1599Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.124.22.246;initial catalog=HT_TaiwanGo_DB1599;persist security info=True;user id=HT_My_teacher;password=haitaokeji;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="1048576" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="error.aspx" />
    </customErrors>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="Static"></pages>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>